/* Comment Section - add this to your template css file */
/* add this to your template (flatsite.css, blogsite.css) */

.comment {
	clear:both;
		margin-bottom: 2em;
}
.commenticon {
	float: left;
	margin-right: 1em;
}
.comments-form input, .comments-form textarea {
	width:75%;
}
